.cal-box{
    height: 80px;
    font-family: 'Courier New', Courier, monospace;
    
  }
.cal-b{box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);

}
.cal-main{
    height: 100vh;
    background-image: linear-gradient(red,blue);

}
input{
    height: 55px;
}
.cal-box:hover{
    font-weight: bold;
  font-size: 45px;;
}